.no-list-style {
    list-style: none;
    padding: 0;
    margin: 0;
}
.input-no-border {
    border-style: none;
}
.button {
    border-style: none;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
}
.alert {
    background-color: #e63946;
    color: white;
}
.alert:hover {
    background-color: #661a20;
    color: white;
}
.info{
    background-color: #ffd166;
    color: white;
}
.info:hover {
    background-color: #866d33;
    color: white;
}
.save{
    background-color: #0ead69;
    color: white;
}
.save:hover {
    background-color: #094b2e;
    color: white;
}

/* GRID */
#gridWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#gridWrapper #inputWrapper {
    grid-column: 1;
    position: relative;
}
#gridWrapper #inputWrapper #textAnchor {
    line-break: anywhere;
}
#gridWrapper #inputWrapper #hexValueInput {
    height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
#gridWrapper #inputWrapper #restore {
    position: absolute;
    right: 0;
}




/* Right Side */
#gridWrapper #colorListWrapper {
    grid-column: 2;
    max-height: 95vh;
    overflow-y: scroll;
}
#gridWrapper #colorListWrapper #outputlist {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
#gridWrapper #colorListWrapper #outputlist .colorListItem {
    display: flex;
    align-items: flex-end;
    height: 30px;
    padding: 5px;
}
#gridWrapper #colorListWrapper #outputlist .colorListItem input{
    background-color: #878782;
    height: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-right: 10px;
    text-align: right;
}

#gridWrapper #colorListWrapper #outputlist .colorListItem .input-group-prepend{
    height: inherit;
}
#gridWrapper #colorListWrapper #outputlist .colorListItem .input-group-prepend img{
    height: inherit;
    margin: 0;
    padding: 0;
}

